.project {
	padding: 2em;
	margin: 0 auto;
	text-align: center;
	box-shadow: var(--shadow);
	transition: transform 0.2s linear;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.project:hover {
	transform: translateY(-7px);
}

.project__description {
	margin-top: 1em;
}

.project__stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.2em 0;
}

.project__stack-item {
	margin: 0.5em;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--clr-fg-alt);
}

.project .link--icon {
	margin-left: 0.5em;
}

.project__links {
	margin-top: auto;
	padding-top: 1em;
}

/* Add styles for project image */
.project__image {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}