.about {
	flex-direction: column;
	margin-top: 0;
	padding: 4em 0;
	text-align: center;
	background-color: var(--clr-bg);
	min-height: 100vh;
	display: flex;
}

.about__content {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
}

.about__name {
	color: var(--clr-primary);
	font-size: 3rem;
}

.about__tagline {
	margin-top: 1.2em;
	font-size: 2rem;
}

.about__desc {
	font-size: 1.2rem;
	max-width: 800px;
	margin: 2em auto;
	line-height: 1.6;
}

.about__desc span {
	display: block;
	margin-bottom: 0.1em;
}

.about__contact {
	margin-top: 2.4em;
}

.about .link--icon {
	margin: 0 0.8em;
}

.about .btn--outline {
	margin-right: 1em;
	text-transform: none;
}

@media (max-width: 600px) {
	.about {
		margin-top: 2em;
	}

	.about__name {
		font-size: 2.5rem;
	}

	.about__tagline {
		font-size: 1.5rem;
	}

	.about__desc {
		font-size: 1rem;
	}
}

.stackoverflow-icon {
	width: 24px;
	height: 24px;
	color: var(--clr-fg);
}

.link--icon:hover .stackoverflow-icon {
	color: var(--clr-primary);
}