.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 800px;
	margin: auto;
}

.contact__text {
	font-size: 1.1rem;
	color: var(--clr-fg);
	margin-bottom: 1em;
}

.contact__info {
	text-align: left;
	width: 100%;
	max-width: 600px;
}

.info-line {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5em;
}

.info-line svg {
	flex-shrink: 0;
}

.info-line p {
	font-size: 1rem;
	color: var(--clr-fg-alt);
	margin: 0;
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 0.8em 1.4em;
	font-weight: 500;
	font-size: 0.9rem;
	text-transform: lowercase;
	transition: transform 0.2s ease-in-out;
	margin-top: 1.5em;
}

.btn--outline {
	color: var(--clr-primary);
	border: 2px solid var(--clr-primary);
	border-radius: 5px;
	background: transparent;
	position: relative;
	overflow: hidden;
	padding: 0.8em 1.4em;
}

.btn--outline:hover,
.btn--outline:focus {
	transform: translateY(-4px);
}